[submodule "brise"]
	path = brise
	url = git@github.com:rime/brise.git
[submodule "rime-forge"]
	path = rime-forge
	url = git@github.com:lotem/rime-forge.git
[submodule "zhung"]
	path = zhung
	url = git@github.com:lotem/zhung.git
[submodule "schemata"]
	path = schemata
	url = git@github.com:rime-aca/schemata.git
[submodule "lakyang"]
	path = lakyang
	url = git@github.com:Patricivs/lakyang.git
[submodule "type-pinyin"]
	path = type-pinyin
	url = git@github.com:shawnwu/type-pinyin.git
[submodule "ziranma_flyx_for_Rime"]
	path = ziranma_flyx_for_Rime
	url = git@github.com:daya-prac/ziranma_flyx_for_Rime.git
[submodule "polyhedron"]
	path = polyhedron
	url = git@github.com:biopolyhedron/rime_schemata.git
[submodule "erstern"]
	path = erstern
	url = git@github.com:erstern/myRIMEschemas.git
[submodule "flypy_double"]
	path = flypy_double
	url = git@github.com:zecy/flypy_double.git
[submodule "rime-nihongo-romaji"]
	path = rime-nihongo-romaji
	url = git@github.com:m13253/rime-nihongo-romaji.git
[submodule "DaicingRimeSchema"]
	path = DaicingRimeSchema
	url = git@github.com:smreg/DaicingRimeSchema.git
[submodule "meow-emoji-rime"]
	path = meow-emoji-rime
	url = git@github.com:hitigon/meow-emoji-rime.git
[submodule "ime-sawrauz"]
	path = ime-sawrauz
	url = git@github.com:hienning/ime-sawrauz.git
[submodule "Tone-double_pinyin"]
	path = Tone-double_pinyin
	url = git@github.com:zaqzrh/Tone-double_pinyin.git
[submodule "rime-jutjnyu_gaulaupin_dangjunbikwaa"]
	path = rime-jutjnyu_gaulaupin_dangjunbikwaa
	url = git@github.com:safetychinese/rime-jutjnyu_gaulaupin_dangjunbikwaa.git
[submodule "rime-hepy"]
	path = rime-hepy
	url = git@github.com:nlimpid/rime-hepy.git
[submodule "hakka-culture"]
	path = hakka-culture
	url = git@github.com:xunux/hakka-culture.git
[submodule "rime-schema-jyutping"]
	path = rime-schema-jyutping
	url = git@github.com:jyutping/rime-schema-jyutping.git
[submodule "rime-zhengma"]
	path = rime-zhengma
	url = git@github.com:acevery/rime-zhengma.git
[submodule "Tamil-for-Rime"]
	path = Tamil-for-Rime
	url = git@github.com:Lo-Aidas/Tamil-for-Rime.git
[submodule "FLAIS-EX-for-Rime"]
	path = FLAIS-EX-for-Rime
	url = git@github.com:Lo-Aidas/FLAIS-EX-for-Rime.git
[submodule "meow_mspy"]
	path = meow_mspy
	url = git@github.com:elxy/meow_mspy.git
[submodule "RIME-98wubi"]
	path = RIME-98wubi
	url = git@github.com:ellicefix/RIME-98wubi.git
[submodule "RimeDayi"]
	path = RimeDayi
	url = git@github.com:chiahsien/RimeDayi.git
[submodule "dieghe"]
	path = dieghe
	url = git@github.com:femkerr/dieghe.git
[submodule "zhengma-vfreex"]
	path = zhengma-vfreex
	url = git@github.com:vfreex/rime-zhengma.git
[submodule "dieghv"]
	path = dieghv
	url = git@github.com:Kahaani/dieghv.git
